@model IEnumerable<Article>
<!-- post widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2>Featured Posts</h2>
    </div>
    @foreach (var article in Model)
    {
        <div class="post post-thumb">
            <a class="post-img" asp-action="Article" asp-route-id="@article.Id" asp-controller="Home">
                <img src="~/img/post-3.jpg" alt="">
            </a>

            <div class="post-body">
                <div class="post-meta">
                    @foreach (var tag in article.ArticlesTags)
                    {
                        <a class="post-category cat-3" asp-route-id="@tag.TagId" asp-action="CategoryArticle" asp-controller="Home">@tag.Tag.Name</a>
                    }
                    <span class="post-date">@article.AddingDate.ToShortDateString()</span>
                </div>
                <h3 class="post-title">
                    <a asp-action="Article" asp-route-id="@article.Id" asp-controller="Home">
                        @article.Name
                    </a>
                </h3>
            </div>
        </div>
    }


</div> <!--Featured Posts-->
<!-- /post widget -->